<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TouchPark.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TouchPark.Reporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="TerminalLink" value="%UNI$1120.487u345.Terminal" />
        <!--WeekDay Payment Options-->
        <add key="paymentOptionWeekDay1" value="1 HOUR" />
        <add key="paymentOptionWeekDay2" value="2 HOURS" />
        <add key="paymentOptionWeekDay3" value="3 HOURS" />
        <add key="paymentOptionWeekDay4" value="4 HOURS" />
        <add key="paymentOptionWeekDay5" value="5 HOURS" />
        <add key="paymentOptionWeekDay6" value="12 HOURS" />
        <add key="paymentOptionWeekDay7" value="24 HOURS" />

        <add key="paymentAmountWeekDay1" value="1.20" />
        <add key="paymentAmountWeekDay2" value="2.40" />
        <add key="paymentAmountWeekDay3" value="3.60" />
        <add key="paymentAmountWeekDay4" value="4.80" />
        <add key="paymentAmountWeekDay5" value="6.00" />
        <add key="paymentAmountWeekDay6" value="8.00" />
        <add key="paymentAmountWeekDay7" value="10.00" />

        <!--WeekEnd Payment Options-->
        <add key="paymentOptionWeekEnd1" value="1 HOUR" />
        <add key="paymentOptionWeekEnd2" value="2 HOURS" />
        <add key="paymentOptionWeekEnd3" value="3 HOURS" />
        <add key="paymentOptionWeekEnd4" value="12 HOURS" />
        <add key="paymentOptionWeekEnd5" value="24 HOURS" />

        <add key="paymentAmountWeekEnd1" value="1.00" />
        <add key="paymentAmountWeekEnd2" value="2.00" />
        <add key="paymentAmountWeekEnd3" value="3.00" />
        <add key="paymentAmountWeekEnd4" value="5.00" />
        <add key="paymentAmountWeekEnd5" value="10.00" />

        <add key="receiptLogoImageLeft" value=".\RangerLogo.bmp" />
        <add key="receiptlogoImageRight" value=".\RangerLogo.bmp" />

        <add key="cacheLocation" value="c:\touchpark\data\cache\" />
        <add key="cachePermitLocation" value="c:\touchpark\data\cache\permits\" />
        <add key="cacheImageLocation" value="c:\touchpark\data\cache\images\" />
        <add key="exportpath" value="c:\touchpark\data\export\" />

        <add key="InternetAliveCheckSite" value="rangerservices.co.uk" />

        <add key="RangerTestURL" value="http://test.rangerservices.co.uk/webservices/xmldatafiles.aspx"/>
        <add key="RangerLiveURL" value="http://consolepermitapi.rangerservices.co.uk/webservices_4.0/api/permit/loadpermit"/>
        <add key="VehicleImageCaptureUrl" value="http://api.parkinfinity.com/1-4/vehiclecapture" />
        <add key="SiteBoxRef" value="webservice_Uniware" />       
        <add key="PaymentErrorMessage" value="Out of order. Please contact 0845 303 2959"/>

    </appSettings>
    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General"
      logWarningsWhenNoCategoriesMatch="false">
        <listeners>
            <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              source="Enterprise Library Logging" formatter="Error Text Formatter"
              log="" machineName="." traceOutputOptions="None" />
            <add name="Error Log File Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              fileName=".\Logs\Error.log" formatter="Error Text Formatter"
              rollFileExistsBehavior="Increment" rollInterval="Week" rollSizeKB="4096"
              maxArchivedFiles="20" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
            <add name="General Log File Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              fileName=".\Logs\General.log" footer="_" formatter="General Text Formatter"
              header="" rollInterval="Week" rollSizeKB="4096" maxArchivedFiles="0"
              traceOutputOptions="Timestamp" />
            <add name="Devices Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              fileName=".\Logs\Devices.log" footer="_" formatter="Line Formatter"
              header="_" maxArchivedFiles="4096" traceOutputOptions="DateTime, Timestamp" />
            <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              toAddress="exceptions@rangerservices.co.uk" fromAddress="_critical_@rangerservices.co.uk"
              formatter="Error Text Formatter" authenticationMode="UserNameAndPassword"
              userName="exceptions" password="12345" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
            <add name="TouchPark Payment Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              fileName="TouchParkPayment.log.csv" header="" footer="" formatter="Payment CSV Text Formatter" />
            <add name="Message Queuing Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.MsmqTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.MsmqTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              queuePath=".\Private$\LoggingService" formatter="LogDataFormatter"
              transactionType="None" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
        </listeners>
        <formatters>
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              template="{timestamp} -&gt; {title}{newline}&#xA;&#xA;{message}{newline}&#xA;&#xA;AppDomain: {appDomain}{newline}&#xA;Thread: {win32ThreadId} {threadName} {newline}"
              name="Error Text Formatter" />
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              template="{timestamp} -&gt; {message}{newline}" name="General Text Formatter" />
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              template="Severity: {severity}, Title:{title},Category: {category},Timestamp: {timestamp},Message: '{message}', Priority: {priority}, EventId: {eventid}, Machine: {machine},Application Domain: {appDomain},Process Id: {processId},Process Name: {processName},Win32 Thread Id: {win32ThreadId},Thread Name: {threadName},Extended Properties: {dictionary({key} - {value})}{newline}"
              name="Line Formatter" />
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
              template="{timestamp},{title},{message}" name="Payment CSV Text Formatter" />
            <add type="RangerServices.Logging.LogDataFormatter, RangerServices.Core, Culture=neutral, PublicKeyToken=null"
              name="LogDataFormatter" />
        </formatters>
        <categorySources>
            <add switchValue="All" name="General">
                <listeners>
                    <add name="General Log File Listener" />
                </listeners>
            </add>
            <add switchValue="Error" name="Exception">
                <listeners>
                    <add name="Message Queuing Trace Listener" />
                    <add name="Error Log File Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="Devices">
                <listeners>
                    <add name="Devices Log Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="TouchPark Payment">
                <listeners>
                    <add name="TouchPark Payment Log Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="UnhandledException">
                <listeners>
                    <add name="Message Queuing Trace Listener" />
                    <add name="Error Log File Listener" />
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events" />
            <notProcessed switchValue="All" name="Unprocessed Category" />
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Error Log File Listener" />
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
    <userSettings>
        <TouchPark.Properties.Settings>
            <setting name="ApplicationType" serializeAs="String">
                <value>ServiceStationPark</value>
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value>C:\TouchPark\TouchparkBGCPPLUSMOTO.jpg</value>
            </setting>
            <setting name="StartScreenBackgroundImagePath" serializeAs="String">
                <value>C:\TouchPark\TouchparkBGCPPLUSMOTO.jpg</value>
            </setting>
            <setting name="ThankYouCode" serializeAs="String">
                <value>TRAVELODGE</value>
            </setting>
            <setting name="CaptureImageDirectoryPath" serializeAs="String">
                <value>\\RANGER001\Images\</value>
            </setting>

            <!--Payment/Tariff Categories Begin-->
            <setting name="EnableTariffCategoryCar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTariffCategoryHGV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTariffCategoryHGVFood" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTariffCategoryHGVTrailer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTariffCategoryStaff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTariffCategoryVisitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTariffCategoryGuest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTariffCategoryAccountHolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTariffCategoryCoach" serializeAs="String">
                <value>False</value>
            </setting>
            <!--Payment/Tariff Categories END-->

            <setting name="MousePointerIsVisible" serializeAs="String">
                <value>False</value>
            </setting>

            <setting name="StartScreenMessage" serializeAs="String">
                <value>Touch To Begin</value>
            </setting>

            <setting name="DatabaseConnectionString" serializeAs="String">
                <value>Data Source=RANGER001\SQLEXPRESS;Initial Catalog=RangerServices.ParkingActivity;Integrated Security=False;User ID=parkingactivity;Password=P4rk1ng;</value>
            </setting>

            <setting name="UseLivePermitUploadWebService" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UploadPermitInterval" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="VehicleDataCaptureSite" serializeAs="String">
                <value>Moto</value>
            </setting>
        </TouchPark.Properties.Settings>
        <TouchPark.Reporting.Properties.Settings>
            <setting name="AuditReportGraphiteFilePath" serializeAs="String">
                <value>auditreport.graphite</value>
            </setting>
        </TouchPark.Reporting.Properties.Settings>
    </userSettings>
</configuration>